#auth-server files
**/target/
**/Cargo.lock
**/tarpaulin-report.html

#quarto files
**/_site/
**/.quarto/
**/_extensions/

#misc
**/.DS_Store
**/.env
**/.ipynb_checkpoints/
**/*.ipynb
**/*.pdf
**/*.xml
