<div>
  <h2 class="card-header">Password recovery</h2>
  <div class="card-body">
    <p>Please enter your email address</p>
    <form
      hx-post="/auth/recover-password"
      hx-target="#main-content"
      hx-swap="innerHTML"
      hx-ext="json-enc"
    >
      <div class="form-group">
        <label htmlFor="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Your Email"
          name="email"
        />
      </div>
      <p class="text-danger">{{ error_message }}</p>
      <div class="text-center">
        <button class="btn btn-primary">Send recovery link</button>
      </div>
    </form>
  <div class="text-center">
    <button
      class="btn btn-link"
      hx-get="/auth/send-password-recover-link"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      Back to Login &#8594;
    </button btn btn-link>
  </div>
  </div>
</div>
