<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card text-center">
        <div class="card-header">Premium Content</div>
        <div class="card-body">
          <h5 class="card-title">Subscribe to Access Exclusive Content</h5>
          <p class="card-text">
        	This content is only available to registered users. 
          </p>
          <button class="btn btn-primary" id="paywall-login-button">
            Login/Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
