<div>
  <h2 class="card-header">Welcome, {{ username }}.</h2>
  <div class="card-body">
    <h3>Articles you have purchased:</h3>
    <ul>
      {% for article in articles %}
      <li><a href="{{ article.link }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
    <div class="grid">
      <div class="g-col-12 g-col-md-4 g-start-md-2">
        <button
          class="btn btn-primary"
          hx-get="/auth/logout-user"
          hx-target="#main-content"
          hx-swap="innerHTML"
        >
          Logout
        </button>
      </div>
      <div class="g-col-12 g-col-md-4 g-start-md-8">
        <button
          class="btn btn-primary"
          hx-get="/auth/delete-user"
          hx-target="#main-content"
          hx-swap="innerHTML"
        >
          Delete account
        </button>
      </div>
    </div>
  </div>
</div>
